@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*font-family: 'Inter',sans-serif;*/


/*almacenando los colores a utilizar -->     */

 :root {
    --principal-color: #286f6c;
    --background-color: #fef2f2;
    --enfacis-color: #f26440;
    --friendly-gray: #adadad;
    --pure-white: #ffffff;
    --random-color: #f9f5f2;
}


/* Receteo de propiedades -->  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilado genral del proyecto*/

body {
    font-family: 'Inter', sans-serif;
}


/*estilos generales de la presentacion*/

.header {
    background-color: var(--background-color);
    position: relative;
}


/*estilos de la navbar*/


/*menu hamburgesa > barra de navegacion */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    color: var(--friendly-gray)
}

input#menu-hamburguesa {
    visibility: hidden;
}

input#menu-hamburguesa~ul {
    background-color: var(--background-color);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc( 100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
}

input#menu-hamburguesa:checked~ul {
    display: flex;
}

@media screen and ( min-width:600px) {
    label {
        display: none;
    }
    input#menu-hamburguesa~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    }
}


/*estilos de home */

.home {
    border: 1px solid black;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% auto;
    grid-template-areas: "titulo" "iconos" "imagen";
    gap: 10px;
}

.titulo {
    grid-area: titulo;
    grid-column: 1/3;
    font-size: 40px;
}

.iconos {
    grid-area: iconos;
}

.imagen {
    grid-area: imagen;
    width: fit-content;
    height: fit-content;
    grid-column-start: 2;
    grid-row: 2;
}

@media screen and ( min-width:600px) {
    .home {
        grid-template-columns: 50% 50%;
        grid-template-areas: "titulo iconos" "imagen";
    }
    .titulo {
        grid-column: auto;
    }
    .imagen {
        border: 1px solid black;
        grid-row: 1/3;
        grid-column: 2;
    }
}


/*estilando los iconos de redes sociales*/

.iconos {
    border: 1px solid black;
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: auto;
    width: fit-content;
    margin-left: 15%;
    padding: 0 0 2rem 0;
    gap: 2rem;
}

.icon-in,
.icon-ins,
.icon-twtr {
    background-color: var(--enfacis-color);
    border-radius: 50%;
    display: grid;
    width: 50px;
    height: 50px;
}

.icon-in>img,
.icon-ins>img,
.icon-twtr>img {
    margin: auto;
}


/*estilando imagen*/

.imagen>img {
    border: 1px solid black;
    width: fit-content;
    height: 300px;
}


/*
.mosaico {
    position: relative;
    border: 1px solid black;
    margin: 0 2rem 15% 2rem;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
}
*/


/*seccion acerca-de-mi*/

.acerca-de-mi {
    display: inline-block;
    margin: 3rem 5% 1rem 5%;
}

.acerca-de-mi>h2 {
    color: var(--principal-color);
    font: sans-serif bolder;
    font-size: 20px;
}

.acerca-de-mi>p {
    display: inline-block;
    margin-top: 1rem;
    font-size: 16px;
    color: var(--friendly-gray);
}

@media and screen(min-width: 600px) {
    .acerca-de-mi>h2 {
        font-size: 24px;
    }
    .acerca-de-mi {
        font-size: 14px;
    }
}


/*empieza la seccion de habilidades*/

.habilidades {
    border: 2px solid black;
    padding-top: 5rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1rem;
}

.habilidades>h2 {
    color: var(--principal-color);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.pizarra>ul {
    border: 1ps solid black;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 25%;
    gap: 1rem;
    overflow: scroll;
}

.pizarra>ul>li {
    border: 1px solid black;
    background-color: var(--principal-color);
    font-size: 14px;
    width: 10rem;
}

.pizzarra>ul>li>p {
    font-size: 10px;
    padding: 2rem;
}