@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*font-family: 'Inter',sans-serif;*/


/*almacenando los colores a utilizar -->     */

:root {
    --principal-color: #286f6c;
    --background-color: #fef2f2;
    --enfacis-color: #f26440;
    --friendly-gray: #adadad;
    --pure-white: #ffffff;
    --random-color: #f9f5f2;
}


/* Receteo de propiedades -->  */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}


/*estilado genral del proyecto*/

body {
    font-family: 'Inter', sans-serif;
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f3f0f0;
}


/*estilos generales de la presentacion*/

.header {
    background-color: var(--background-color);
    position: relative;
}


/*estilos de la navbar*/


/*menu hamburgesa > barra de navegacion */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    color: var(--friendly-gray);
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--friendly-gray);
    font-size: 20px;
}

nav>ul>li>a:hover {
    color: #286f6c;
}

input#menu-hamburguesa {
    visibility: hidden;
}

input#menu-hamburguesa~ul {
    background-color: var(--background-color);
    list-style: none;
    position: absolute;
    width: 100vw;
    /* left: 0; */
    height: 100vh;
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 9999;
    margin-left: -1rem;
}

.nav-list>li>a:hover {
    color: #286f6c;
}


input#menu-hamburguesa:checked~ul {
    display: flex;
}



@media screen and (min-width:600px) {
    label {
        display: none;
    }

    input#menu-hamburguesa~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
    }

}


/*estilos de home */

.home {
    background-color: var(--background-color);
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% auto;
    grid-template-areas: "titulo" "iconos" "imagen";
    /* gap: 10px; */
    padding-top: 3%;
}


/*estilos del titulo*/
.titulo {
    grid-area: titulo;
    grid-column: 1/3;
    font-size: 40px;
    margin: 0vw 0 0 5vw;
    height: fit-content;
}


.titulo>h2 {
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
}

.titulo>h2>span {
    display: block;
    color: var(--enfacis-color);
    font-size: 3.5rem;
    font-weight: 900;
}

.titulo>p {
    color: black;
    padding: 1rem;
    width: max-content;
    font-size: 2rem;
    font-weight: 600;
}


/*estilos del los iconos de las redes*/

.iconos {
    grid-area: iconos;
}


/*estilando los iconos de redes sociales*/

.iconos {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: auto;
    width: -webkit-fill-available;
    margin-left: 15%;
    padding: 0 0 2rem 0;
    gap: 2rem;
}

.icon-in>a,
.icon-twtr>a,
.icon-dwCV>a {
    text-decoration-line: none;
}

.icon-in>a>i,
.icon-twtr>a>i,
.icon-dwCV>a>i {
    display: flex;
    justify-content: center;
    align-items: center;
     width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color: var(--enfacis-color);
    border: 3px solid var(--pure-white);
    font-size: x-large;
}



/*estilando imagen*/

.imagen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-width: inherit; */
    /* margin: 0 auto; */
      max-width: clamp(300px, 50vw, 500px);
}

.circulo-verde {
    position: absolute;
    width: 80%;
    height: 80%;
    background: var(--principal-color);
    border-radius: 50%;
    z-index: 0;
}

.imagen img {
    position: relative;
    width: inherit;
    height: auto;
    z-index: 1;

    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    max-height: -webkit-fill-available;
    object-fit: contain;
}



/*media querie para cuando es menor de 480px (conttrola el home section)*/
@media screen and (max-width: 480px) {
    .titulo {
        margin: 0vw 0 0 5vw;
    }

    .titulo>h2 {
        font-size: 10vw;
    }

    .titulo>h2>span {
        font-size: 14vw;

    }

    .titulo>p {
        font-size: 6vw;
        padding: 0.5rem 0px;
    }

    .icon-in>a>i, .icon-twtr>a>i, .icon-dwCV>a>i {
  width: 50px;
    height: 50px;
    }

    /*imagen del home*/
    .imagen {
        /* margin: -25vw 1vw 0 0; */
    }

    .imagen>.circulo-verde {
        margin: 0 !important;
        width: 53vw;
        height: 51vw;
        position: absolute;
        top: 0;
        right: 0 !IMPORTANT;
    }

    .imagen>img {
     position: absolute;
        bottom: 0;
        max-height: -webkit-fill-available;
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    input#menu-hamburguesa~ul {
        width: 100vw;
        height: 100vh;
    }

}

@media screen and (max-width:600px) {

    .circulo-verde {
        width: 48vw;
        height: 46vw;
        top: 0;
        right: 0;
    }

    .icon-in>a>i,
    .icon-twtr>a>i,
    .icon-dwCV>a>i {
        width: 74px;
        height: 73px;
    }
}

@media screen and (min-width:600px) {
    .home {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    /*titulo home*/
    .titulo {
        grid-column: auto;
        margin: 3vw 0 0 3vw;
        align-items: baseline;
        width: min-content;
    }

    .titulo>h2 {
        font-size: 5vw;
    }

    .titulo>h2>span {
        font-size: 8vw;
    }

    .titulo>p {
        font-size: 3vw;
        padding: 0.5rem 0px;
    }

    .iconos {
        grid-template-columns: auto auto auto;
        column-gap: 5vw;
        margin: 0 0 0 1vw;
        padding: 0;
    }

    .circulo-verde {
        width: 48vw;
        height: 46vw;
        top: 0;
        right: 0;
    }

    .imagen {
        grid-row: 1/3;
        grid-column: 2;
        width: 55vw;
        height: auto;
        /* margin: 0 0 2vw 0;
        align-self: end; */
    }

    nav>ul>li>a {
        font-size: 1.9vw;
    }
}

@media screen and (min-width:600px) and (max-width:1000px){
.imagen {
        grid-row: 1 / 3;
        grid-column: 2;
        width: 37vw;
        height: fit-content;
        max-width: clamp(300px, 45vw, 500px);
    }

    .iconos {
        grid-template-columns: auto auto auto;
        column-gap: 5vw;
        margin: 0 0 0 3vw;
    }

    .circulo-verde {
        width: 30vw;
        height: 29vw;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 1000px) {
    .titulo {
        font-size: 50px;
    }

    .imagen {
        grid-row: 1 / 3;
        grid-column: 2;
        width: 37vw;
        height: fit-content;
        max-width: clamp(300px, 45vw, 500px);
    }

    .iconos {
        grid-template-columns: auto auto auto;
        column-gap: 5vw;
        margin: 0 0 0 3vw;
    }

    .circulo-verde {
        width: 30vw;
        height: 29vw;
        top: 0;
       right: -2vw;
    }

    .icon-in>a>i,
    .icon-twtr>a>i,
    .icon-dwCV>a>i {
            width: 5vw;
            height: 5vw;
        }
        
    
        
    }



/*seccion acerca-de-mi*/

.acerca-de-mi {
    display: inline-block;
    padding: 3rem 5% 5rem 5%;
}

.acerca-de-mi>h2 {
    color: var(--principal-color);
    font: sans-serif bolder;
    font-size: 10vw;
}

.acerca-de-mi>p {
    display: inline-block;
        text-align: justify;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--friendly-gray);
}

.about-info-list>ul>li>span>a{
text-decoration: none;
color: black;
}

@media screen and (min-width: 600px) {
   

    .acerca-de-mi>h2 {
        font-size: 40px;
    }

    .acerca-de-mi {
        font-size: 14px;
    }
}


.acerca-de-mi>p>span {
    color: var(--enfacis-color);
    font-size: 1.3rem;
    font-weight: 600;
}



.acerca-de-mi>.about-info-list>ul {
    list-style: none;
}

.acerca-de-mi>.about-info-list>li {
    margin-bottom: 2rem;
}

.acerca-de-mi>.about-info-list>li>i {
    font-size: 2rem;
    color: #e1701a;
}

.acerca-de-mi>.about-info-list>li>.about-info-logo {
    display: inline-block;
    min-width: 3.5rem;
    margin-left: 1rem;
}

.acerca-de-mi>.about-info-list>li>label {
    display: inline-block;
    min-width: 8.5rem;
    color: #1b1717;
    font-size: 1.6rem;
    font-weight: 600;
}

.acerca-de-mi>.about-info-list>li>span {
    color: #1b1717;
    font-size: 1.6rem;
    font-weight: 400;
}

.acerca-de-mi>.about-info-list>li>span>a {
    font-size: 1.6rem;
    text-decoration: none;
    color: #1b1717;
    -webkit-transition: border 0.5s ease;
    transition: border 0.5s ease;
    position: relative;
}

.acerca-de-mi>.about-info-list>li>span>a::before {
    content: "";
    display: block;
    width: 0;
    background: #e1701a;
    border-bottom: medium solid #e1701a;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}


.acerca-de-mi>.about-info-list>li>span>a:hover::before {
    width: 100%;
}

.acerca-de-mi>.about-info-btn {
    display: block;
    padding: 1.2rem;
    min-height: 2.5rem;
}

.acerca-de-mi>.about-info-btn>a {
    position: relative;
    text-decoration: none;
    color: #eeebdd;
    background: #e1701a;
    font-size: 1.6rem;
    padding: 1.2rem 2.5rem;
}

.acerca-de-mi>.about-info-btn>a:hover {
    color: #fff;
    background: #bb5e17;
}

.about-info-list>ul {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto auto;
}

.about-info-list>ul>li {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
    .about-info-list>ul {
        grid-template-columns: auto;
        /* margin: 0 25%; */
    }

    .about-info-list>ul>li {
        margin-bottom: 0.5rem;
    }
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
    color: var(--enfacis-color);
}



/*empieza la seccion de HABILIDADES*/

.habilidades {
    margin: 2rem 0;
}

.habilidades>.circulote {
    position: absolute;
    margin: 0% auto 5% -33%;
    width: 40vw;
    height: 38vw;
    border-radius: 50%;
    background: var(--principal-color)
}

.circulote>.circulote-hijo {
    position: absolute;
    margin: 39% auto 5% 62%;
    width: 20vw;
    height: 19vw;
    border-radius: 50%;
    background: var(--enfacis-color);
}

.habilidades>h2 {
    color: var(--principal-color);
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.habilidades>h2>span {
    color: var(--pure-white);
}

/*tarjetas de la seccion de habilidades*/


.pizarra>ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto  auto;
    margin-left: 40%;
    gap: 8rem;
    overflow:auto;
}

.cards {
    width: 13rem;
    height: 15rem;
    background-color: var(--background-color);
}

.cards>.encabezado {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    padding: 4%;
}

.cards>.encabezado>h4 {
    font-size: 14px;
    text-align: left;
    padding-top: 9%;
}

.cards>.encabezado>img {
    width: 100%;
    height: auto;
}

.cards>p {
   font-size: 1rem;
    padding: 8%;
    color: var(--friendly-gray);
    text-align: justify;
}


.habilidades {
    /* margin: auto auto auto 15%; */
}

.habilidades>h2 {
    margin-left: auto;
    font-size: 40px;
}

.pizarra>ul {
    margin: 2% 1% 2% 20%;
}

@media screen and (max-width : 480px ){
   .habilidades>h2 {
    font-size: 2rem;
}
   
    .cards {
    width: 13rem;
    height: 15rem;
    background-color: var(--background-color);
    }

    .pizarra>ul {
   list-style: none;
        display: grid;
        /* grid-template-columns: auto auto auto; */
        margin-left: 20%;
        gap: 3rem;
        overflow: auto;
}

}

@media screen and (max-width : 600px) {
    .habilidades>.circulote {
        width: 66vw;
        height: 63vw;
        margin: -27vw 0vw 0vw -49vw;
    }



    .circulote>.circulote-hijo {
        margin: 29vw 40vw;
        width: 22vw;
        height: 22vw;
    }

    .pizarra>ul {
       list-style: none; */
        display: grid;
        /* grid-template-columns: auto auto auto; */
        margin-left: 13%;
        gap: 3rem;
    }

    .cards {
        width: 13rem;
        height: 15rem;
        background-color: var(--background-color);
    }
}

@media screen and (min-width : 600px) {
    .habilidades>.circulote {
        margin: 0% -28%;
        width: 40vw;
        height: 40vw;
    }
}

@media screen and (min-width: 900px) {
    .habilidades>.circulote {
        margin: 0 0vw 0 -26vw;
        width: 36vw;
        height: 32vw;
    }

    .circulote>.circulote-hijo {
    position: absolute;
    margin: 39% auto 5% 62%;
    width: 16vw;
    height: 15vw;
    border-radius: 50%;
    background: var(--enfacis-color);
}
    
}
/*experiencia tech */
.cardThech{
    border-radius: 8px;
    background-color: var(--principal-color);
    width: fit-content;
    padding: 3rem;
}

/*estilando seccion experiencia-->*/

.experiencia {
    margin-bottom: 8rem;
    padding: 2% 8%;
}

.experiencia>h2 {
    font-size: 30px;
    color: var(--principal-color);
    margin: 1rem auto 1rem 5%;
}

.experiencias3 {
    /* display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 10%; */
     list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* margin-left: 40%; */
    gap: 9rem;
    overflow: auto;
}

.experiencias3>li {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 5%;
}

.cardProjetc{
    background-color: var(--pure-white);
    border-radius: 8px;
    width: 300px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cardLink{
    padding: 7% 5%;
    border-top: 1px solid var(--friendly-gray);
}

.cardLink a {
    border: 1px solid;
    padding: 8px;
    border-radius: 3px;
    color: black;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
}

.cardLink a:hover {
    background: var(--enfacis-color);
}

.imageboard {
    width: 100%;
    height: 65%;
}

.imageboard>img{
    width: 100%;
    border-radius: 8px 8px 0 0;;
}

.cardProjetcInfo {
    padding: 0 15px 15px;
    line-height: 1.5;
    font-size: 14px;
}

.experiencias3>li>a>img {
    height: 24%;
    align-self: center;
    margin: 12px 0 0px 99px;
}

@media screen and (min-width: 600px) {
    .experiencias3>li>a>img {
        height: 25%;
        align-self: center;
        margin: auto;
    }

}

.experiencias3>li>p {
    color: var(--friendly-gray);
    font-size: small;
    align-self: center;
    margin: auto;
}

.experiencias3>li>span,
.experiencias3>li>p>span {
    color: black;
    align-self: center;
    font-weight: bold;
    font-size: large;
}

/* @media screen and (min-width:600px) {
    .experiencias3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 5%;
        margin: auto 10%;
    }

    .experiencia>h2 {
        margin-left: 10%;
        font-size: 40px;
        margin-top: 10%;
    }
} */


/*estilando la seccion portafolio*/

.portafolio {
    background-color: var(--principal-color);
    display: grid;
    width: 100vw;
    height: 60vw;
}

.contenedor-imagen1 {
    position: relative;
    max-width: 100%;
}

.contenedor-imagen {
    /* width: 100vw; */
    height: 76vw;
    margin: 0 0 0 0;

}

.contenedor-imagen>a {
    max-width: 100%;
    width: 28rem;
    height: 20rem;
    margin: 0 0 -32% -3%;
    position: sticky;
}

.portafolio>.contenedor-imagen1>a>img {
    width: 48vw;
    height: 30vw;
    margin: -6vw 0vw 0vw 1vw;
    border-radius: 20px;
    box-shadow: 5px 2px 11px var(--friendly-gray);
}

.portafolio>.contenedor-imagen>a>img {
    width: 46vw;
    height: 41vw;
    margin: -15vw 1vw 1vw 37px;
    border-radius: 20px;
    box-shadow: 5px 2px 11px var(--friendly-gray);
}

.portafolio>.contenedor-imagen1>h3,
.portafolio>.contenedor-imagen>h3 {
    margin: 3% 0 0 40px;
    font-size: 1rem;
}

.portafolio>.informacion {
    color: var(--pure-white);
    margin: 5vw;
}

.portafolio>.informacion>h3 {
    font-size: 30px;
}

.portafolio>.informacion>p {
    margin: 7px 1px 12px 1px;
    padding: 0rem;
    position: absolute;
}


@media screen and (max-width : 600px) {
    .portafolio {
        height: 147vw;
    }

    .contenedor-imagen1 {
        width: 88vw;
        height: 65vw;
    }

    .portafolio>.contenedor-imagen1>a>img {
        width: 90vw;
        height: 52vw;
        margin: -6vw 0vw 0vw 3vw;
    }

    .portafolio>.informacion {
        margin: 0vw 3vw 35vw 3vw;
    }

    .contenedor-imagen>a {
        width: 89vw;
        height: 95vw;
    }

    .portafolio>.contenedor-imagen>a>img {
        width: 88vw;
        height: 84vw;
        margin: 0vw 2vw 0vw 5vw;
    }
}

@media screen and (min-width: 600px) {
    .portafolio {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .portafolio>.contenedor-imagen {
        grid-column-start: 2;
    }

    .portafolio>.contenedor-imagen>img,
    .portafolio>.contenedor-imagen>img {
        margin: 10px 0 0 23px;
    }

    .portafolio>.contenedor-imagen>h3,
    .portafolio>.contenedor-imagen1>h3 {
        margin: 0px 0px -6px 22px;
        font-size: 10px;
    }

    .portafolio>.contenedor-imagen1 {
        width: 19rem;
        height: 20rem;
    }
}

@media screen and (min-width:800px) {
    .portafolio>.contenedor-imagen>a>img {
        width: 46vw;
        height: 41vw;
        margin: -3vw 1vw 1vw 11vw;
    }

    .portafolio>.informacion {
        margin: 10vw;
    }
}

@media screen and (min-width:950px) {

    .portafolio>.contenedor-imagen1 {
        width: 26rem;
    }

    .portafolio>.contenedor-imagen1>a>img {
        width: 41vw;
        margin: -5vw 0vw 0vw 6vw;
    }

    .contenedor-imagen1>a>h3,
    .contenedor-imagen>a>h3 {
        margin: 1vw 8vw;
    }
}

/*estilando seccion contacto--> */

.circulo-decor {
    position: absolute;
    margin: 14vw auto 5vw -45vw;
    width: 77vw;
    height: 75vw;
    border-radius: 50%;
    opacity: 50%;
    background: var(--principal-color)
}

.contacto {
    margin-top: 5vw;
}

.contacto>h2 {
    color: var(--principal-color);
    font-size: 30px;
    margin-left: 2rem;
    margin-bottom: 10%;
}

.contacto_info {
    padding: 1% 1% 10% 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.telefono {
    margin-left: 30%;
}

.email {
    /* margin-left: 30%; */
}

.email>a {
    text-decoration: none;
    color: var(--principal-color);
}

.icon-contacto {
    background-color: var(--enfacis-color);
    border-radius: 50%;
    display: grid;
    width: 80px;
    height: 80px;
    border: 1px solid var(--random-color);
}

.icon-contacto>img {
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
}

.telefono>h5 {
    color: var(--principal-color);
    margin-left: 1%;
    font-size: inherit;
}

.email>h5 {
    color: var(--principal-color);
    margin-left: 1%;
    font-size: inherit;
}

.email>p {
    color: var(--principal-color);
    font-size: small;
}

.telefono>p {
    color: var(--principal-color);
    font-size: small;
}

@media screen and (min-width:600px) {
    .circulo-decor {
        width: 43vw;
        height: 43vw;
        margin: 6vw auto auto 1vw;
    }

    .telefono {
        margin-left: 61%;
    }

    .email {
        margin-left: 25%;
    }

    .email>h5 {
        margin: 5% auto auto 8%;
    }

    .telefono>h5 {
        color: var(--principal-color);
        margin: 12% auto auto -14%;
        font-size: inherit;
    }

    .telefono>p {
        margin: 2% 1% 1% -10%;
    }

    .email>p {
        margin: 6px 0 0 -15px;
    }
}

@media screen and (min-width:900px) {
    .circulo-decor {
       width: 43vw;
        height: 43vw;
        margin: 5vw auto auto 1vw;
    }

}

@media screen and (min-width: 1200px) {
    .circulo-decor {
        width: 37vw;
        height: 36vw;
        margin: 5vw auto auto 4vw;
    }
}




/*estilando footer*/

footer>p {
    color: var(--enfacis-color);
    font-size: 14px;
    margin: 11% 32%;
}

@media screen and (min-width:600px) {
    footer>p {
        margin: 8% 39%;
    }
}