@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*font-family: 'Inter',sans-serif;*/


/*almacenando los colores a utilizar -->     */

:root {
    --principal-color: #286f6c;
    --background-color: #fef2f2;
    --enfacis-color: #f26440;
    --friendly-gray: #adadad;
    --pure-white: #ffffff;
    --random-color: #f9f5f2;
}


/* Receteo de propiedades -->  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*estilado genral del proyecto*/

body {
    font-family: 'Inter', sans-serif;
    max-width: 100%;
}


/*estilos generales de la presentacion*/

.header {
    background-color: var(--background-color);
    position: relative;
}


/*estilos de la navbar*/


/*menu hamburgesa > barra de navegacion */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.25rem;
    height: 60px;
    color: var(--friendly-gray);
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--friendly-gray);
    font-size: 20px;
}

nav>ul>li>a:hover {
    color: #286f6c;
}

input#menu-hamburguesa {
    visibility: hidden;
}

input#menu-hamburguesa~ul {
    background-color: var(--background-color);
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(100vh - 60px);
    top: 60px;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    display: none;
    z-index: 1;

}

.nav-list>li>a:hover {
    color: #286f6c;
}


input#menu-hamburguesa:checked~ul {
    display: flex;
}



@media screen and (min-width:600px) {
    label {
        display: none;
    }

    input#menu-hamburguesa~ul {
        position: static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
    }

}


/*estilos de home */

.home {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 25% auto;
    grid-template-areas: "titulo""iconos""imagen";
    gap: 10px;
}


/*estilos del titulo*/

.titulo {
    grid-area: titulo;
    grid-column: 1/3;
    font-size: 40px;
    height: fit-content;
}


/*estilos del los iconos de las redes*/

.iconos {
    grid-area: iconos;
}


/*estilando los iconos de redes sociales*/

.iconos {
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: auto;
    width: 100%;
    margin-left: 15%;
    padding: 0 0 2rem 0;
    gap: 2rem;
}

.icon-in,
.icon-ins,
.icon-twtr {
    background-color: var(--enfacis-color);
    border-radius: 50%;
    display: grid;
    width: 60px;
    height: 60px;
    border: 3px solid white;
}

.icon-in>img {
    margin: 0px 0px 0 16px;
}

.icon-ins>img {
    width: 29px;
    margin: 13px 0px 0px 12px;
}

.icon-twtr>img {
    margin: 11px 0px 0 12px;
    width: 30px;
}


/*estilando imagen*/

.imagen {
    grid-area: imagen;
    grid-column-start: 2;
    grid-row: 2;
    position: relative;
    margin-left: -10%;
    max-width: 100%;
}

.imagen>.circulo-verde {
    position: absolute;
    margin: 78px 0% 6rem 20%;
    width: 75%;
    height: 73%;
    border-radius: 50%;
    background: var(--principal-color);
}

.imagen>img {
    width: 100%;
    height: auto;
    position: inherit;
}

@media screen and (min-width:600px) {
    .home {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    .titulo {
        grid-column: auto;
        margin: 10%;
        align-items: baseline;
        width: min-content;
    }

    .iconos {
        grid-template-columns: auto auto auto;
        column-gap: 25%;
        margin: -17% 8%;
    }

    .circulo-verde {
        width: auto;
        height: auto;
    }

    .imagen {
        grid-row: 1/3;
        grid-column: 2;
        width: 80%;
        height: auto;
        margin-left: auto;
        align-self: end;
    }
}


/*seccion acerca-de-mi*/

.acerca-de-mi {
    display: inline-block;
    padding: 3rem 5% 5rem 5%;
}

.acerca-de-mi>h2 {
    color: var(--principal-color);
    font: sans-serif bolder;
    font-size: 30px;
}

.acerca-de-mi>p {
    display: inline-block;
    margin-top: 1rem;
    font-size: 16px;
    color: var(--friendly-gray);
}

@media screen and (min-width: 600px) {
    .acerca-de-mi {
        margin: 1% 10%;
    }

    .acerca-de-mi>h2 {
        font-size: 40px;
    }

    .acerca-de-mi {
        font-size: 14px;
    }
}


/*empieza la seccion de habilidades*/

.habilidades {
    padding-top: 2%;
    padding-bottom: 1rem;
    position: relative;
}

.habilidades>.circulote {
    position: absolute;
    margin: 1% auto 5% -43%;
    width: 60%;
    height: 62%;
    border-radius: 50%;
    background: var(--principal-color);
}

.circulote>.circulote-hijo {
    position: absolute;
    margin: 46% auto 5% 62%;
    width: 39%;
    height: 46%;
    border-radius: 50%;
    background: var(--enfacis-color);
}

.habilidades>h2 {
    color: var(--principal-color);
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.habilidades>h2>span {
    color: var(--pure-white);
}

.pizarra>ul {
    scrollbar-width: none;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 40%;
    gap: 1rem;
    overflow: scroll;
}

.cards {
    width: 10rem;
    height: 12rem;
    background-color: var(--background-color);
}

.cards>.encabezado {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
    padding: 1%;
}

.cards>.encabezado>h4 {
    font-size: 14px;
    text-align: left;
    padding-top: 9%;
}

.cards>.encabezado>img {
    width: 100%;
    height: auto;
}

.cards>p {
    font-size: 12px;
    padding: 8%;
    padding-top: 10%;
    color: var(--friendly-gray);
}

@media screen and (min-width: 600px) {
    .habilidades>.circulote {
        height: 84%;
        width: 55%;
        margin: auto auto auto -39%;

    }

    .circulote>.circulote-hijo {
        margin: 46% auto auto 56%;
        width: 49%;
        height: 53%;
    }
}

@media screen and (min-width: 850px) {
    .habilidades>.circulote {
        height: 100%;
        width: 54%;
        margin: auto auto auto -41%;
    }

}

@media screen and (min-width: 1000px) {
    .habilidades>.circulote {
        height: 112%;
        width: 49%;
        margin: auto auto auto -36%;
    }

    .habilidades>h2 {
        margin-left: -32px;
        font-size: 51px;
    }
}

.habilidades {
    margin: auto auto auto 15%;
}

.habilidades>h2 {
    margin-left: auto;
    font-size: 40px;
}

.pizarra>ul {
    margin: 2% 1% 2% 20%;
}


/*estilando seccion experiencia-->*/

.experiencia {
    margin-bottom: 8rem;
}

.experiencia>h2 {
    font-size: 30px;
    color: var(--principal-color);
    margin: 1rem auto 1rem 5%;
}

.experiencias3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    row-gap: 10%;
}

.experiencias3>li {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 5%;
}

.experiencias3>li>a>img {
    height: 24%;
    align-self: center;
    margin: 12px 0 0px 99px;
}

@media screen and (min-width: 600px) {
    .experiencias3>li>a>img {
        height: 25%;
        align-self: center;
        margin: auto;
    }

}

.experiencias3>li>p {
    color: var(--friendly-gray);
    font-size: small;
    align-self: center;
    margin: auto;
}

.experiencias3>li>span,
.experiencias3>li>p>span {
    color: black;
    align-self: center;
    font-weight: bold;
    font-size: large;
}

@media screen and (min-width:600px) {
    .experiencias3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 5%;
        margin: auto 10%;
    }

    .experiencia>h2 {
        margin-left: 10%;
        font-size: 40px;
        margin-top: 10%;
    }
}


/*estilando la seccion portafolio*/

.portafolio {
    background-color: var(--principal-color);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
}

.contenedor-imagen1 {
    width: 28rem;
    height: 20rem;
    background-color: var(--pure-white);
    border-radius: 5%;
    margin: -6% 2% 0% 3%;
    position: relative;
    box-shadow: 4px -7px 13px var(--friendly-gray);
    max-width: 100%;
}

.contenedor-imagen>a {
    max-width: 100%;
    width: 28rem;
    height: 20rem;
    background-color: var(--pure-white);
    margin: 0 0 -32% -3%;
    position: sticky;
    box-shadow: 1px 11px 11px var(--friendly-gray);
}

.portafolio>.contenedor-imagen1>a>img,
.portafolio>.contenedor-imagen>a>img {
    max-width: 100%;
    width: 81%;
    height: 100%;
    margin: 78px 0 0 30px;
}

.portafolio>.contenedor-imagen1>h3,
.portafolio>.contenedor-imagen>h3 {
    margin: 3% 0 0 40px;
    font-size: 1rem;
}

.portafolio>.informacion {
    color: var(--pure-white);
    margin: 59px 66px 46px 22px;
}

.portafolio>.informacion>h3 {
    font-size: 30px;
}

.portafolio>.informacion>p {
    margin-top: 4%;
}


/*estilando seccion contacto--> */

.circulo-decor {
    position: absolute;
    margin: 10% auto 5% -13%;
    width: 57%;
    height: 40%;
    border-radius: 50%;
    opacity: 50%;
    background: var(--principal-color);
}

.contacto {
    margin-top: 15rem;
}

.contacto>h2 {
    color: var(--principal-color);
    font-size: 30px;
    margin-left: 2rem;
    margin-bottom: 10%;
}

.contacto_info {
    padding: 1% 1% 10% 1%;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.telefono {
    margin-left: 30%;
}

.email {
    margin-left: 30%;
}

.email>a {
    text-decoration: none;
    color: var(--principal-color);
}

.icon-contacto {
    background-color: var(--enfacis-color);
    border-radius: 50%;
    display: grid;
    width: 80px;
    height: 80px;
    border: 1px solid var(--random-color);
}

.icon-contacto>img {
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 100%;
}

.telefono>h5 {
    color: var(--principal-color);
    margin-left: 1%;
    font-size: inherit;
}

.email>h5 {
    color: var(--principal-color);
    margin-left: 1%;
    font-size: inherit;
}

.email>p {
    color: var(--principal-color);
    font-size: small;
}

.telefono>p {
    color: var(--principal-color);
    font-size: small;
}

@media screen and (min-width:600px) {
    .circulo-decor {
        width: 45%;
        height: 56%;
        margin: 6% auto auto -16%;
    }

    .telefono {
        margin-left: 61%;
    }

    .email {
        margin-left: 25%;
    }

    .email>h5 {
        margin: 5% auto auto 8%;
    }

    .telefono>h5 {
        color: var(--principal-color);
        margin: 12% auto auto -14%;
        font-size: inherit;
    }

    .telefono>p {
        margin: 2% 1% 1% -10%;
    }

    .email>p {
        margin: 6px 0 0 -15px;
    }
}

@media screen and (min-width:900px) {
    .circulo-decor {
        width: 46%;
        height: 60%;
        margin: 6% auto auto 0%;
    }

}

@media screen and (min-width: 1200px) {
    .circulo-decor {
        height: 67%;
    }
}

@media screen and (min-width: 600px) {
    .portafolio {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .portafolio>.contenedor-imagen {
        grid-column-start: 2;
        width: 18rem;
        height: 14rem;
        margin: -60px 0 -44px 29%;
    }

    .portafolio>.contenedor-imagen>img,
    .portafolio>.contenedor-imagen>img {
        margin: 10px 0 0 23px;
    }

    .portafolio>.contenedor-imagen>h3,
    .portafolio>.contenedor-imagen1>h3 {
        margin: 0px 0px -6px 22px;
        font-size: 10px;
    }

    .portafolio>.informacion {
        margin: 11% 14% 18% 15%;
    }

    .portafolio>.contenedor-imagen1 {
        width: 19rem;
        height: 20rem;
    }
}


/*estilando footer*/

footer>p {
    color: var(--enfacis-color);
    font-size: 14px;
    margin: 11% 32%;
}

@media screen and (min-width:600px) {
    footer>p {
        margin: 8% 39%;
    }
}